# Ignore generated images
static/images/dynamic/*.jpg
static/images/dynamic/*.png
static/images/ai-generated/*.jpg
static/images/ai-generated/*.png
static/images/headlines/*.jpg
static/images/headlines/*.png

# Ignore Python cache
__pycache__/

