{% extends "base.html" %}

{% block content %}
<div class='row g-4'>
    <div class='col-12'>
        <div class='card shadow-sm'>
            <div class='card-header bg-primary text-white'>Top Financial Headlines</div>
            <div class='card-body px-3 py-4'>
                <div class='headline-grid'>
                    {% for item in news %}
                        {% set item_index = loop.index0 %}
                        {% include 'headline_card.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class='row g-4 mt-2'>
    <div class='col-md-4'>
        <div class='card shadow-sm'>
            <div class='card-header bg-info text-white'>Central Bank Rates</div>
            <ul class='list-group list-group-flush'>
                {% for policy in policies %}
                <li class='list-group-item'><b>{{ policy.bank }}:</b> {{ policy.rate }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class='col-md-4'>
        <div class='card shadow-sm'>
            <div class='card-header bg-success text-white'>Key Economic Data</div>
            <ul class='list-group list-group-flush'>
                {% for econ_item in econ %}
                <li class='list-group-item'>{{ econ_item.event }}: {{ econ_item.value }} ({{ econ_item.date }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <div class='col-md-4'>
        <div class='card shadow-sm'>
            <div class='card-header bg-warning text-dark'>Forex CFD Quotes</div>
            <div class='table-responsive'>
                <table class='table table-bordered mb-0'>
                    <thead class='table-light'>
                        <tr>
                            <th>Pair</th>
                            <th>Bid</th>
                            <th>Ask</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for forex_item in forex %}
                        <tr>
                            <td>{{ forex_item.pair }}</td>
                            <td>{{ forex_item.bid }}</td>
                            <td>{{ forex_item.ask }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
